<h1>New User</h1>

<%= form_with model: @user, local: true do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :user_type %>
    <%= form.select :user_type, ['manager', 'qa', 'developer'], prompt: 'Select User Type' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create User' %>
  </div>
<% end %>

<%= link_to 'Back to Users List', users_path %>
